.box-job-list {
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  margin-bottom: 30px!important;
}

.flex-item-equal-half-no-center {
  text-align: center;
  flex-basis: 50%;
  flex-grow: 0;
}

.job-list-btn {
  height: 45px;
  border: 2px solid #00BAFF;
  background: white!important;
  border-radius: 10px!important;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: center;
  text-transform: none;
  color: #00BAFF;
}

.job-list-btn:hover {
  color: white!important;
  background: #00BAFF!important;
}

.sr-combo-inputs {
    margin: 20px 0;
  }

  .sr-input {
    font-size: 16px;
  }

  .sr-card-element {
    padding-top: 12px;
  }

  .btn {
    font-size: 16px;
  }
